#title{
	font-size: 1.625rem;
	line-height: 4.688rem;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 18.75rem;
	height: 4.68rem;
	font-size: 1rem;
	margin-top: 0.625rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1.125rem;
	width: 17.188rem;
	height: 4.375rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.375rem;
	width: 20.313;
	height: 5.313;
}
