input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	white-space: nowrap;
	font-size: 2.75rem; 
	margin-top: 2.5rem;
	padding-top: 1.25rem;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-top: auto;
	width: 300px;
	height: 75px;
	font-size: 1.5rem; 
	margin-top: 10px;
	border: none; 
	background-color: #a4c6e6; 
	color: #fff; 
	text-align: center;
}

p{
	text-align: center;
}

button {
	margin-bottom: 1.25rem; 
	font-size: 1.5rem; 
	padding: 0.625rem 1.25rem; 
	border: none; 
	background-color: #a4c6e6; 
	color: #fff; 
	cursor: pointer; 
}

.score-container {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 20rem 20rem 1fr;
	grid-gap: 0.625rem;
}
.score-label{
	font-weight: bold;
	font-size: 0.8em;
    text-transform: uppercase;
}

#mig_boto{
	width: 50%; 
	float: left;
	margin-bottom: 1rem;
}

button.menu-object:active{
	font-size: 1.125rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.357rem;
	width: 20.313;
	height: 5.313;
}